@{
    ViewBag.Title = "Welcome!";
}
<div class="jumbotron">

    <!--Your IP: @ViewBag.userID<br />-->
    <!--<p>Your IP: @ViewBag.userIP</p>-->
    <!--@ViewBag.TimeZoneID-->
    <br />
    <h3>Welcome!</h3>
    <br />
    <p>This search engine provides weather data from Finland using three service providers listed below: </p>

    <ul>
        <li><a href="http://yr.no/" target="_blank">Yrno</a></li>
        <li><a href="http://www.fmi.fi" target="_blank">FMI</a></li>
        <li><a href="http://www.foreca.fi" target="_blank">Foreca</a></li>
    </ul>


            <p>Questions or ideas: <a href="mailto:weatherstationcareeria@gmail.com">weatherstationcareeria@gmail.com</a></p>
            <div>
                <a href="~/Compilation/Results" class="btn btn-primary">Go to search!</a>
                <div>
                </div>



